@import "tailwindcss";

@theme {
  --color-primary-blue: #2563EB;
  --color-hover-blue: #1D4ED8;
  --color-teal-accent: #14B8A6;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
